* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #20b0db, #412bbd);
  color: white;
  font-family: "Literata", serif;
  min-height: 100vh;
}

.fa-check:before {
  content: "\f00c";
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

form button {
  color: cadetblue;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.list__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo__list {
  min-width: 30%;
  list-style: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.trash__button,
.edit__button,
.completed__button {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.completed__button {
  background-color: green;
}

.edit__button {
  background-color: gray;
}
